.form {
    margin: auto;
    width: 400px;
    height: fit-content;
    background-color: black;
    padding: 20px;

    form {

        h1 {
            text-align: center;
            color: white;
        }

        input {
            display: block;
            border: none;
            outline: none;
            border-bottom: 2px solid teal;
            width: 90%;
            padding: 8px 7px;
            margin-top: 20px;
            background-color: transparent;
            color: white;
            font-size: 16px;

        }

        input::placeholder {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        #gender,
        #proffesion {
            margin-top: 20px;
            width: 90%;
            padding: 8px 7px;
            background-color: teal;
            border: 2px solid teal;
            color: white;
            font-weight: bolder;
            outline: none;
        }

        .btns {
            width: 100%;
            margin-top: 20px;

            button:nth-child(1) {
                width: 50%;
                padding: 10px 0;
                border: 2px solid white;
                background-color: transparent;
                color: white;
                font-weight: bolder;
            }

            button:nth-child(2) {
                width: 50%;
                padding: 10px 0;
                border: 2px solid white;
                background-color: white;
                color: black;
                font-weight: bolder;
            }

        }
    }
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}